#root {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;

    padding-top: 75px;
    padding-bottom: 300px;

    background-image: url('/film-background.jpg');
    /* background-color: var(--primary-orange); */
    
    font-family: 'Poppins';
}

#sign-in-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 500px;
    max-width: 300px;
}

#sign-in-card p {
    text-align: center;
}

span {
    font-weight: bold;
}
