#root {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    /* background-color: var(--primary-orange); */
    background-image: url('/film-background.jpg');

    font-family: 'Poppins';
}

#sign-in-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 500px;
    max-width: 300px;

    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid var(--secondary-dark);

    color: var(--primary-orange);
    background-color: var(--primary-dark);
}

#logo {
    text-align: center;
    
    font-family: var(--primary-font), cursive;
    -webkit-text-stroke: 0.10rem var(--secondary-dark);

    color: var(--primary-white);
}

#sign-in-card p {
    text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
}

span {
    font-weight: bold;
}