<div id="root">
    <div id="sign-in-card">
        <div id="logo">
            <h1>Onde assistir<br>de graça</h1>
        </div>
        <h2>Entrar</h2>
        <div class="input">
            <label for="">E-mail</label>
            <input [(ngModel)] = "login.email" type="email" class="default-input">
        </div>
        <div class="input">
            <label for="">Senha</label>
            <input [(ngModel)] = "login.password" type="password" class="default-input">
        </div>
        <button (click) = "signIn()" type="submit" class="default-button">Entrar</button>
        <p>
            <span>Aviso: </span>esta área destina-se somente aos colaboradores de conteúdo do site!
        </p>
        <a href="/home" class = "default-button">Voltar ao site</a>
    </div>
</div>