#root {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: var(--primary-orange);

    font-family: 'Mali';
}

#sign-in-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 400px;

    padding: 20px;
    border-radius: 30px;
    border: 2px solid var(--secondary-dark);

    color: var(--primary-orange);
    background-color: var(--primary-dark);
}

.input {
    display: flex;
    flex-direction: column;
}

span {
    font-weight: bold;
}