<div id="root">
    <div id="sign-in-card">
        <h2>Entrar</h2>
        <div class="input">
            <label for="">E-mail</label>
            <input type="email" class="default-input">
        </div>
        <div class="input">
            <label for="">Senha</label>
            <input type="password" class="default-input">
        </div>
        <button type="submit" class="default-button">Entrar</button>
        <p>
            <span>Aviso: </span>esta área destina-se somentes <br>
            aos colaboradores de conteúdo do site!
        </p>
        <a href="/home" class = "default-button">Voltar ao site</a>
    </div>
</div>