<header>
    <img src="logo-title.png" alt="" id="logo-title">
    <div id="header-logo-box">
        <div id="header-logo">
            <h1>Onde assistir<br>de graça</h1>
        </div>
    </div>
    <div id="header-menu-box">
        <div id="header-menu">
            <a href="/login">
                <img 
                    src="door.png" 
                    alt="Ícone de porta para entrar/sair" 
                    title="Entrar/Sair"
                >
            </a>
        </div>
    </div>
</header>