<header>
    <a href="/home" class="logo">
        <img src="popcorn-bucket.png" alt="Ilustração de um balde de pipoca">
        <img src="logo-title.png" alt="Onde assistir de graça">
    </a>
    <div id="header-menu">
    @if(userService.getToken()) {
        <a href="/user-profile" class="header-menu-item">
            <img 
                src="person-icon.png" 
                alt="Ícone de uma pessoa/usuário" 
                title="Meu perfil"
            >
        </a>
    }
        <a href="/login" class="header-menu-item">
            <img 
                src="door.png" 
                alt="Ícone de porta para entrar/sair" 
                title="Entrar/Sair"
            >
        </a>
    </div>
</header>