header {
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    height: 116px;
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    background-color: rgb(8, 8, 8);
    background-color: rgb(32, 31, 31);
    border-bottom: 2px solid var(--secondary-dark);
    padding-left: 15px;
    padding-right: 15px;
}

#header-logo-box {
    display: flex;
    justify-content: end;
}

#header-logo {
    width: 340px;
    height: 114px;
    
    border-left: 2px solid var(--secondary-dark);
    border-right: 2px solid var(--secondary-dark);

    font-size: 1.20rem;
    text-align: center;
    align-content: center;
    font-family: var(--primary-font), cursive;
    -webkit-text-stroke: 0.10rem var(--secondary-dark);

    color: var(--primary-white);

    background-image: url(https://aventurasnahistoria.com.br/media/_versions/2025/01/magico-de-oz-5_widelg.jpg);
    /* background-image: url(https://s2.glbimg.com/q7BKzEx0y8OwqiGHozFMxen1tu4=/e.glbimg.com/og/ed/f/original/2019/09/18/the-wizard-of-oz.jpg); */
    background-size: 340px 116px;
    background-repeat: no-repeat;
}

#header-menu-box {
    display: flex;
    justify-content: end;
}

#header-menu {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

@media (max-width: 390px) {
    #header-logo {
        width: 240px;
        font-size: 1rem;
    }
}

#logo-title {
    width: 200px;
}