header {
    position: fixed;
    width: 100vw;
    height: 69px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    /* background-color: rgb(32, 31, 31); */
    text-shadow: 2px 2px 2px white;
}

#header-logo {
    margin: 15px;
}