#home-content {
    padding-top: 116px;
}

#categories-menu {
    width: 180px;
}

#categories-menu li {
    height: 120.39px;
}

.film-frame {
    width: 180px;
    height: 120.39px;
}

#categories-menu li {
    list-style-type: none;
}