<app-header></app-header>
<div id="home-content">
    <menu id="categories-menu">
        <li (click) = "getAllChannels()">
            <figure class="film-frame">
                <img 
                    src="https://i.ytimg.com/vi/ToDkF4J7Jbg/maxresdefault.jpg" 
                    alt="Imagem de tela colorida fora do ar." 
                    class="film-frame-figure"
                >
                <figcaption>Canais</figcaption>
            </figure>
        </li>
        <li (click) = "getAllFilms()">
            <figure class="film-frame">
                <img 
                    src="https://imagem.natelinha.uol.com.br/original/apracaenossa-1500programas-19102017(1)_e61b0a2a2ce1be5b093f417c6e6e8d841f6e12eb.jpeg" 
                    alt="Imagem da categoria todos(grupo de pessoas)" 
                    class="film-frame-figure"
                >
                <figcaption>Todos</figcaption>
            </figure>
        </li>

        @for (category of categories; track $index) {
            <li (click) = "getAllFromCategory(category.id)">
                <figure class="film-frame">
                    <img src="{{category.imageUrl}}" alt="Poster da categoria" class="film-frame-figure">
                    <figcaption>{{category.name}}</figcaption>
                </figure>
            </li>
        }

    </menu>
    <main>
        <!-- <section class="home-welcome-card-box">
            <div class="home-welcome-card">
                <img src="faca-cada-momento-valer-a-cena.png" alt="Faça cada momento valer a cena!">
            </div>
        </section> -->
        @if(userService.getToken()) {
            <div>
                <a href="/film-form/post/new" class="add-film-button">+ Adicionar filme</a>
            </div>
        }
        <section class="films-section">                

            @if (channels.length != 0) {
                <section class="channels-card">
                    @if (userService.getToken()) {
                        <a 
                            href="/channel-form/post/new"
                            title="+ Adicionar canal" 
                            class="default-anchor-style add-channel-button"
                        >+ Adicionar canal</a>
                    }
                    <div class="film-channels-card-title-box channels-card-title">
                        <h1>Onde assistir de graça!</h1>
                    </div>
                    @for(channel of channels; track $index) {
                        <a href="{{channel.url}}" target="_blank" class="film-channel-box">
                            <img src="{{channel.imageUrl}}" alt="Logo do canal" title="{{channel.name}}">
                        </a>
                    }
                </section>
            }

            @for (film of films; track $index) {
                <figure class="film-card">
                    <a href="/film-details/{{film.id}}" class="default-anchor-style">
                        <img 
                            src="{{film.posterUrl}}" 
                            alt="Poster do filme"
                            class="film-card-poster"
                        >
                        <figcaption class="film-card-title">{{film.title}}</figcaption>
                    </a>
                    @if (userService.getToken()) {
                        @if (currentUser.roles.includes("ROLE_ADMIN") || film.createdBy == currentUser.id) {
                            <div class="film-card-options">
                                <a href="/film-form/put/{{film.id}}">
                                    <img src="pencil.png" alt="Ícone de um lápis.">
                                </a>
                                <a href="/film-form/delete/{{film.id}}">
                                    <img src="trash.png" alt="Ícone de uma lixeira.">
                                </a>
                            </div>
                        }
                    }
                </figure>
            }
        </section>
    </main> 
</div>