#home-content {
    display: flex;

    position: relative;
    top: 116px;
    z-index: 0;

    background-color: var(--primary-orange);
}

@media(min-width: 460px) {
    .film-card {
        margin: 30px;
    }
}

/* #categories-menu {
    margin-top: 60px;
    width: 180px;
}

#categories-menu li {
    height: 120.39px;
}

#categories-menu figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.film-frame {
    position: absolute;

    width: 180px;
    height: 120.39px;
}

.film-frame-figure {
    position: absolute;

    width: 120px;
    height: 100px;
}

#categories-menu figcaption{
    position: absolute;

    font-family: 'Mali';
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-text-stroke: 0.05rem var(--primary-white);
} */

#categories-menu {
    background-color: var(--primary-dark);
    border-right: 2px solid var(--secondary-dark);
}

#categories-menu li {
    list-style-type: none;
    margin: 10px;

    cursor: pointer;
}

.film-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px ridge var(--secondary-dark);
}

.film-frame-figure {
    width: 150px;
    height: 100px;
}

#categories-menu figcaption{
    position: absolute;

    font-family: 'Mali';
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-text-stroke: 0.05rem var(--primary-white);
}

main {
    display: flex;
    flex-direction: column;
    min-height: 720px;
}

.home-welcome-card-box {
    display: flex;
    justify-content: center;
}

.home-welcome-card {
    display: flex;
    justify-content: center;
    
    margin: 20px;

    border-radius: 30px;
    border: 2px solid var(--secondary-dark);

    color: var(--primary-orange);
    background-color: var(--primary-dark);
}

.home-welcome-card img {
    width: 180px;
}

.films-section {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.film-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 155px;

    margin-bottom: 30px;
}

.film-card-poster {
    width: 150px;

    border: 5px ridge var(--primary-dark);
}

.film-card-title {
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
}

.film-card-options {
    display: flex;
}

.film-card-options img {
    margin: 5px;
}