/* You can add global styles to this file, and also import other style files */

/* @import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;

    --primary-font: 'Mali';

    --primary-dark: rgb(20, 19, 19);
    --secondary-dark: rgb(8, 8, 8);
    --primary-orange: rgb(255, 174, 0);
    --secondary-orange: rgb(255, 145, 0);
    --primary-white: white;
    --primary-sucess-color: green;
    --primary-error-color: red;
}

.default-button {
    background-color: var(--primary-orange);
    border-radius: 30px;
    border: 2px solid var(--secondary-dark);
    padding: 10px;

    text-decoration-line: none;
    color: var(--secondary-dark);

    cursor: pointer;

    font-weight: bold;
}

.default-input-box {
    display: flex;
    flex-direction: column;
}

.default-input {
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.default-text-area {
    height: 150px;
}

.default-card {
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid var(--secondary-dark);

    color: var(--primary-orange);
    background-color: var(--primary-dark);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img:first-child {
    width: 75px;
}

.logo img:last-child {
    width: 200px;
}

.success-color-text {
    color: var(--primary-sucess-color);
}

.error-color-text {
    color: var(--primary-error-color);
}

.default-anchor-style {
    color: var(--secondary-dark);
    text-decoration-line: none;
}

.default-anchor-style:visited {
    color: var(--secondary-dark);
}

.return-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-left: 20px;

    width: 50px;
    height: 25px;
}

.add-film-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-left: 20px;

    width: 160px;
    height: 30px;

    background-color: var(--primary-dark);
    border-radius: 30px;

    border: 2px solid var(--secondary-dark);
    padding: 10px;

    text-decoration-line: none;
    color: var(--secondary-orange);

    cursor: pointer;

    font-weight: bold;
    font-family: 'Poppins';
}

.film-detail-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.film-big-poster {
    width: 300px;
    height: 433px;
    
    border: 5px ridge var(--primary-dark);
}

.film-detail-card-details {
    display: flex;
    flex-direction: column;
    
    width: 300px;
}

.film-detail-card-details-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.film-channels-card-title-box {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

.film-channels-card-title-box h1>span{
    font-style: italic;
}

.film-channel-box {
    margin: 30px;
    text-align: center;
}

.film-channel-box img{
    width: 80px;
}

@media(max-width: 340px) {
    .logo img:first-child{
        width: 50px;
    }
    
    .logo img:last-child{
        width: 150px;
    }
}