/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    --primary-dark: rgb(20, 19, 19);
    --secondary-dark: rgb(8, 8, 8);
    --primary-orange: rgb(255, 174, 0);
}