<app-header></app-header>
<div id="page-content">
    <main>
        <a href="/home" class="default-button return-button">Voltar</a>
        <section class="channel-form-section">
            <form class="channel-form default-card" action="" method="post">
                <h1>+ Adicionar canal</h1>
                <div class="channel-img-box">
                    <img class="channel-img" src="" alt="Logo do canal">
                </div>
                <div class="default-input-box">
                    <label for="">Nome do canal</label>
                    <input type="text">
                </div>
                <div class="default-input-box">
                    <label for="">Link da logo do canal</label>
                    <input type="url">
                </div>
                <div class="default-input-box">
                    <label for="">Link do canal</label>
                    <input type="url">
                </div>
                <div class="default-button-box">
                    <button class="default-button" type="submit">Publicar canal</button>
                </div>
            </form>
        </section>
    </main>
</div>